*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
    /* overflow-x: hidden; */
}
body{
    height: 100%;
    width: 100%;
    /* background-color: #F2F2F2 !important; */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    /* background-image: url("/static/images/bg2.jpeg");
    background-position: center;
  /* background-repeat: no-repeat; */
  background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover; 
    
    transition: 0.3s ease;

}
h3{
    font-size: 1rem !important;
    font-weight: 600 !important;
}
.navbar{
    /* width: 100%;
    height: 10vh; */
    -webkit-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.66);
    box-shadow: -1px 2px 13px 0px rgba(0,0,0,0.66);
}

#logout_button{
    color: red;
}

.profile{
    position: relative;
    display: grid;
    justify-content: center;
    margin-top: 6rem;
}
.card{
    width: 60rem;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.card:hover{
    box-shadow: 5px 8px 11px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 8px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 8px 11px 0px rgba(0,0,0,0.75);
}
.details01{
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
}
.details02{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.details02 img{
    width: 1.2rem;
}

.details03{
    margin-top: 1rem;
    display: flex;
}
.details03-parent{
    display: flex;
    justify-content: space-between;
}
.personal{
    background-color: white !important;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
.work{
    background-color: white !important;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.plus i{
    font-size: 78%;
}
.plus{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
    transition: 0.3s ease;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition:  0.4s ease;

    
}
.plus:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    transition: opacity 0.25s;
}
.word-detail{
    margin-left: 1rem;
}
.edu-main{
    display: flex;
    flex-direction: column;
}
.fa-graduation-cap, .fa-briefcase{
    font-size: 1.5rem;
}
.reg{
    margin: 0.7rem;
    font-size: 1rem;
}
.reg:hover{
    cursor: pointer;
}
.test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.test01{
    display: block;
}
.test02{
    display: flex;
    align-items: center;
}
.fa-pen-to-square:hover{
    cursor: pointer;
}

/* popupform */


/* The popup form - hidden by default */
.form-parent{
    display: grid;
    z-index: 10000;
    justify-content: space-around;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.edu-parent{
    display: grid;
    z-index: 15;
    justify-content: space-around;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 8rem;
  border-radius: 5px;
  border: 2px solid #f1f1f1;  z-index: 9;
  width: 65%;
  box-shadow: 2px 8px 9px 0px rgba(0,0,0,0.5);
  
}
.edu-popup {
  display: none;
  position: fixed;
  bottom: 8rem;
  border-radius: 5px;
  border: 2px solid #f1f1f1;  z-index: 15;
  width: 65%;
  box-shadow: 2px 8px 9px 0px rgba(0,0,0,0.5);
}

/* Add styles to the form container */
.form-container {
    height: 25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-width:100%;
    padding: 10px;
    background-color: white;
}
.form-container h3{
    margin: 1%;
}
.form-container input, select{
    color: grey;
    margin: 1%;
    min-height: 2rem;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 0.75rem;
    padding: 0.7%;
    border-radius: 4px;
    border: 1px solid grey ;
}
.form-container textarea{
    min-height: 3rem;
    resize: none;
    color: grey;
    margin: 1.1%;
    margin-top: 1.2%;
    margin-bottom: 2.2%;
    font-size: 0.75rem;
    padding: 0.7%;
    border-radius: 4px;
    border: 1px solid grey;
}
.form-container select{
    color: grey;
    margin: 1.1%;
    margin-top: 1.2%;
    margin-bottom: 2.2%;
    font-size: 0.75rem;
    padding: 0.7%;
    border-radius: 4px;
    border: 1px solid grey;
}
.form-container input:hover, select:hover{
    border: 1.3px solid black;
}
.form-container textarea:hover{
    border: 1.3px solid black;
}


/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  min-height: 3rem;

}
.save-btn{
    float: right;
    margin-left: auto; 
    margin-right: 0;
    background-color: gold;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 700;
    border-radius: 4px;
    width: 7%;
    padding: 5px 5px;
    min-height: 3rem;
}
.del-btn{
    float: right;
    margin-left: 1rem; 
    margin-right: 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 700;
    border-radius: 4px;
    width: 85%;
    padding: 5px 5px;
}
.form-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex{
    display: flex;
    flex-direction: row;
}
.flex input{
    width: 26%;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .save-btn:hover {
  opacity: 1;
}

.search-jobs{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#submit{
    margin: 2rem;
    padding: 1rem;

}

/* Search Job Button */
.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-height: 3rem;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;

  }

  .button-57:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-57:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    overflow-y: hidden;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    
  }
/*****************************************COMPANY_MATCH************************************************/
.company-container{
    display: flex;
    justify-content: center;
}

.company-card{
    padding: 2rem;
    background-color: #f8f9fa;
    margin: 2rem;
    line-height: 1rem;
    width: 70%;
    border-radius: 14px;
    transition: 0.2s ease;
}
.company-card:hover{
    box-shadow: 5px 8px 11px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 8px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 8px 11px 0px rgba(0,0,0,0.75);
}
.row1 h3{
    font-size: 1.2rem !important;
}

.row2 .company-name{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.row3{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 600;
    align-items: center;
}

.row3 .duration{
    margin-right: 1.5rem;
}
.row3 .stipend{
    margin-right: 1.5rem;
}
.row3 .location{
    margin-right: 1.5rem;
}
.row3 i{
    margin-right: 0.5rem;
}

.row4 i{
    margin-right: 0.7rem;
}
.row4{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin-top: 1rem;
    overflow: hidden;
}

.row5{
    font-size: 0.8rem;
    overflow: hidden;
    font-weight: 700;
    opacity: 0.8;
}

.SendEmail {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    min-height: 3rem;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;

  }

  .SendEmail:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .SendEmail:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  .SendEmail span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .SendEmail span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    overflow-y: hidden;
  }
  
  .SendEmail:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .SendEmail:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .SendEmail:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    
  }